body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

h2{
    margin-top: 100px;
}
.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    max-width: 1200px; 
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: calc(100% - 24px);
}

#inputNumber {
    width: 200px;  
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

canvas {
    width: 100%;
    height: auto;
}

#generateButton {
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
}

#generateButton:hover {
    background-color: blue;
}


